language: php
php:
  - 7.0
  - 7.1
  - 7.2

matrix:
  fast_finish: true
  allow_failures:
    - php: 7.0

before_install: phpenv config-rm xdebug.ini

cache:
  directories:
    - vendor
    - $HOME/.composer/cache


install:
  - composer update --no-interaction
  - bin/codecept build
script:
  - bin/codecept run
